In [65]:
import pandas as pd

# Ajuster les param√®tres pour afficher toutes les lignes et colonnes
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

df1 = pd.read_csv(
    "../data/LFB Mobilisation data from January 2009 - 2014.csv",
    sep=";",
    low_memory=False,
)
df2 = pd.read_csv(
    "../data/LFB Mobilisation data from 2015 - 2020.csv", sep=";", low_memory=False
)
df3 = pd.read_csv(
    "../data/LFB Mobilisation data from 2021 - 2024.csv",
    sep=",",
    low_memory=False,
    usecols=lambda column: column not in ["BoroughName", "WardName"],
)
#df3.drop(["BoroughName", "WardName"], axis=1)

In [66]:
 display(df1.info())
 display(df2.info())
 display(df3.info())
 print(df1.columns)
 print(df2.columns)
 print(df3.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901788 entries, 0 to 901787
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   IncidentNumber            901788 non-null  int64
 1   CalYear                   901788 non-null  int64
 2   HourOfCall                901788 non-null  int64
 3   ResourceMobilisationId    901788 non-null  int64
 4   Resource_Code             901788 non-null  object
 5   PerformanceReporting      901788 non-null  object
 6   DateAndTimeMobilised      901788 non-null  object
 7   DateAndTimeMobile         883728 non-null  object
 8   DateAndTimeArrived        901788 non-null  object
 9   TurnoutTimeSeconds        883636 non-null  float64
 10  TravelTimeSeconds         883631 non-null  float64
 11  AttendanceTimeSeconds     901788 non-null  int64
 12  DateAndTimeLeft           856625 non-null  object
 13  DateAndTimeReturned       877430 non-null  object
 14  DeployedFromStation_Code  901786 non-null  object
 15  DeployedFromStation_Name  901786 non-null  object
 16  DeployedFromLocation      901744 non-null  object
 17  PumpOrder                 901788 non-null  int64
 18  PlusCode_Code             901788 non-null  object
 19  PlusCode_Description      901788 non-null  object
 20  DelayCodeId               228294 non-null  float64
 21  DelayCode_Description     228294 non-null  object
dtypes: float64(3), int64(6), object(13)
memory usage: 151.4+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883641 entries, 0 to 883640
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   IncidentNumber            883641 non-null  object
 1   CalYear                   883641 non-null  int64
 2   HourOfCall                883641 non-null  int64
 3   ResourceMobilisationId    883641 non-null  int64
 4   Resource_Code             883641 non-null  object
 5   PerformanceReporting      883641 non-null  object
 6   DateAndTimeMobilised      883641 non-null  object
 7   DateAndTimeMobile         876365 non-null  object
 8   DateAndTimeArrived        883641 non-null  object
 9   TurnoutTimeSeconds        876339 non-null  float64
 10  TravelTimeSeconds         876254 non-null  float64
 11  AttendanceTimeSeconds     883641 non-null  int64
 12  DateAndTimeLeft           882620 non-null  object
 13  DateAndTimeReturned       95728 non-null   object
 14  DeployedFromStation_Code  883620 non-null  object
 15  DeployedFromStation_Name  883620 non-null  object
 16  DeployedFromLocation      882957 non-null  object
 17  PumpOrder                 883641 non-null  int64
 18  PlusCode_Code             883641 non-null  object
 19  PlusCode_Description      883641 non-null  object
 20  DelayCodeId               215751 non-null  float64
 21  DelayCode_Description     215751 non-null  object
dtypes: float64(3), int64(5), object(14)
memory usage: 148.3+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 694575 entries, 0 to 694574
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   IncidentNumber            694575 non-null  object
 1   CalYear                   694575 non-null  int64
 2   HourOfCall                694575 non-null  int64
 3   ResourceMobilisationId    694575 non-null  int64
 4   Resource_Code             694575 non-null  object
 5   PerformanceReporting      694575 non-null  object
 6   DateAndTimeMobilised      694575 non-null  object
 7   DateAndTimeMobile         691533 non-null  object
 8   DateAndTimeArrived        694575 non-null  object
 9   TurnoutTimeSeconds        691514 non-null  float64
 10  TravelTimeSeconds         691510 non-null  float64
 11  AttendanceTimeSeconds     694575 non-null  int64
 12  DateAndTimeLeft           694300 non-null  object
 13  DateAndTimeReturned       0 non-null       float64
 14  DeployedFromStation_Code  694571 non-null  object
 15  DeployedFromStation_Name  694571 non-null  object
 16  DeployedFromLocation      694109 non-null  object
 17  PumpOrder                 694575 non-null  int64
 18  PlusCode_Code             694575 non-null  object
 19  PlusCode_Description      694575 non-null  object
 20  DelayCodeId               174023 non-null  float64
 21  DelayCode_Description     174023 non-null  object
dtypes: float64(4), int64(5), object(13)
memory usage: 116.6+ MB

None

Index(['IncidentNumber', 'CalYear', 'HourOfCall', 'ResourceMobilisationId',
       'Resource_Code', 'PerformanceReporting', 'DateAndTimeMobilised',
       'DateAndTimeMobile', 'DateAndTimeArrived', 'TurnoutTimeSeconds',
       'TravelTimeSeconds', 'AttendanceTimeSeconds', 'DateAndTimeLeft',
       'DateAndTimeReturned', 'DeployedFromStation_Code',
       'DeployedFromStation_Name', 'DeployedFromLocation', 'PumpOrder',
       'PlusCode_Code', 'PlusCode_Description', 'DelayCodeId',
       'DelayCode_Description'],
      dtype='object')
Index(['IncidentNumber', 'CalYear', 'HourOfCall', 'ResourceMobilisationId',
       'Resource_Code', 'PerformanceReporting', 'DateAndTimeMobilised',
       'DateAndTimeMobile', 'DateAndTimeArrived', 'TurnoutTimeSeconds',
       'TravelTimeSeconds', 'AttendanceTimeSeconds', 'DateAndTimeLeft',
       'DateAndTimeReturned', 'DeployedFromStation_Code',
       'DeployedFromStation_Name', 'DeployedFromLocation', 'PumpOrder',
       'PlusCode_Code', 'PlusCode_Description', 'DelayCodeId',
       'DelayCode_Description'],
      dtype='object')
Index(['IncidentNumber', 'CalYear', 'HourOfCall', 'ResourceMobilisationId',
       'Resource_Code', 'PerformanceReporting', 'DateAndTimeMobilised',
       'DateAndTimeMobile', 'DateAndTimeArrived', 'TurnoutTimeSeconds',
       'TravelTimeSeconds', 'AttendanceTimeSeconds', 'DateAndTimeLeft',
       'DateAndTimeReturned', 'DeployedFromStation_Code',
       'DeployedFromStation_Name', 'DeployedFromLocation', 'PumpOrder',
       'PlusCode_Code', 'PlusCode_Description', 'DelayCodeId',
       'DelayCode_Description'],
      dtype='object')

In [67]:
df = pd.concat([df1, df2, df3], axis=0)
df = df.reset_index(drop=True)

# display(df.head())
#
# df["IncidentNumber"] = df["IncidentNumber"].apply(
#     lambda x: str(x)[0:-3] if (".00" in x) & (str(x)[-3:] == ".00") else x
# )
display(df.head())
display(df.info())
display(df.describe())

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,TravelTimeSeconds,AttendanceTimeSeconds,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description
0,235138081,2009,0,38426,H271,1,01/01/2009 00:02,NaN,01/01/2009 00:07,NaN,NaN,319,01/01/2009 00:16,01/01/2009 00:23,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
1,235138081,2009,0,38427,H212,2,01/01/2009 00:02,01/01/2009 00:06,01/01/2009 00:08,253.0,89.0,342,01/01/2009 00:12,01/01/2009 00:12,H21,Clapham,Home Station,2,Initial,Initial Mobilisation,NaN,NaN
2,2091,2009,0,38429,A341,1,01/01/2009 00:04,01/01/2009 00:06,01/01/2009 00:09,151.0,157.0,308,01/01/2009 00:16,01/01/2009 00:17,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
3,3091,2009,0,38430,G232,1,01/01/2009 00:04,01/01/2009 00:06,01/01/2009 00:08,108.0,102.0,210,01/01/2009 00:20,01/01/2009 00:20,G23,Hillingdon,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
4,5091,2009,0,38432,A311,1,01/01/2009 00:06,01/01/2009 00:07,01/01/2009 00:09,114.0,119.0,233,01/01/2009 00:11,01/01/2009 00:22,A31,Holloway,Home Station,1,Initial,Initial Mobilisation,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2480004 entries, 0 to 2480003
Data columns (total 22 columns):
 #   Column                    Dtype
---  ------                    -----
 0   IncidentNumber            object
 1   CalYear                   int64
 2   HourOfCall                int64
 3   ResourceMobilisationId    int64
 4   Resource_Code             object
 5   PerformanceReporting      object
 6   DateAndTimeMobilised      object
 7   DateAndTimeMobile         object
 8   DateAndTimeArrived        object
 9   TurnoutTimeSeconds        float64
 10  TravelTimeSeconds         float64
 11  AttendanceTimeSeconds     int64
 12  DateAndTimeLeft           object
 13  DateAndTimeReturned       object
 14  DeployedFromStation_Code  object
 15  DeployedFromStation_Name  object
 16  DeployedFromLocation      object
 17  PumpOrder                 int64
 18  PlusCode_Code             object
 19  PlusCode_Description      object
 20  DelayCodeId               float64
 21  DelayCode_Description     object
dtypes: float64(3), int64(5), object(14)
memory usage: 416.3+ MB

None

,CalYear,HourOfCall,ResourceMobilisationId,TurnoutTimeSeconds,TravelTimeSeconds,AttendanceTimeSeconds,PumpOrder,DelayCodeId
count,2.480004e+06,2.480004e+06,2.480004e+06,2.451489e+06,2.451395e+06,2.480004e+06,2.480004e+06,618068.000000
mean,2.016683e+03,1.346944e+01,4.844750e+06,7.945743e+01,2.748673e+02,3.526280e+02,1.458338e+00,10.492389
std,4.762131e+00,6.327579e+00,1.339961e+06,4.445476e+01,1.514902e+02,1.544398e+02,7.735493e-01,2.196355
min,2.009000e+03,0.000000e+00,3.842600e+04,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,3.000000
25%,2.012000e+03,9.000000e+00,4.012022e+06,5.400000e+01,1.730000e+02,2.510000e+02,1.000000e+00,9.000000
50%,2.017000e+03,1.400000e+01,4.925274e+06,7.300000e+01,2.480000e+02,3.270000e+02,1.000000e+00,12.000000
75%,2.021000e+03,1.900000e+01,5.872214e+06,9.600000e+01,3.440000e+02,4.230000e+02,2.000000e+00,12.000000
max,2.024000e+03,2.300000e+01,6.808854e+06,1.192000e+03,1.198000e+03,1.200000e+03,1.300000e+01,13.000000

In [68]:
# display(df.isna().sum())
all_na = df.isna().sum()
lignes = df.shape[0]
print(lignes)
list = {}
list["colonne"] = []
list["na"] = []
list["pourcentage"] = []
for colonne, na in zip(all_na.index, all_na.values):
    pourcentage = round(na / lignes * 100, 4)
    list["colonne"].append(colonne)
    list["na"].append(na)
    list["pourcentage"].append(pourcentage)
    print(f"{na}, {pourcentage}%")
a = pd.DataFrame(list)
display(a)

2480004
0, 0.0%
0, 0.0%
0, 0.0%
0, 0.0%
0, 0.0%
0, 0.0%
0, 0.0%
28378, 1.1443%
0, 0.0%
28515, 1.1498%
28609, 1.1536%
0, 0.0%
46459, 1.8733%
1506846, 60.7598%
27, 0.0011%
27, 0.0011%
1194, 0.0481%
0, 0.0%
0, 0.0%
0, 0.0%
1861936, 75.0779%
1861936, 75.0779%

                     colonne       na  pourcentage
0             IncidentNumber        0       0.0000
1                    CalYear        0       0.0000
2                 HourOfCall        0       0.0000
3     ResourceMobilisationId        0       0.0000
4              Resource_Code        0       0.0000
5       PerformanceReporting        0       0.0000
6       DateAndTimeMobilised        0       0.0000
7          DateAndTimeMobile    28378       1.1443
8         DateAndTimeArrived        0       0.0000
9         TurnoutTimeSeconds    28515       1.1498
10         TravelTimeSeconds    28609       1.1536
11     AttendanceTimeSeconds        0       0.0000
12           DateAndTimeLeft    46459       1.8733
13       DateAndTimeReturned  1506846      60.7598
14  DeployedFromStation_Code       27       0.0011
15  DeployedFromStation_Name       27       0.0011
16      DeployedFromLocation     1194       0.0481
17                 PumpOrder        0       0.0000
18             PlusCode_Code        0       0.0000
19      PlusCode_Description        0       0.0000
20               DelayCodeId  1861936      75.0779
21     DelayCode_Description  1861936      75.0779

In [69]:
for col in df.columns:
    uniques = df[col].unique()
    if len(uniques) < 15:
        print(col, uniques)

PerformanceReporting ['1' '2' 'Not Used']
DeployedFromLocation ['Home Station' 'Other Station' nan]
PumpOrder [ 1  2  3  4  5  6  7  8  9 11 10 12 13]
PlusCode_Code ['Initial' 'rca' 'add']
PlusCode_Description ['Initial Mobilisation' 'Running call' 'Addition to first attendance']
DelayCodeId [nan 12.  5.  9.  8.  7.  6. 11. 13. 10.  3.]
DelayCode_Description [nan 'Not held up' 'Address incomplete/wrong' 'Traffic, roadworks, etc'
 'Traffic calming measures' 'Arrived but held up - Other reason'
 'Appliance/Equipment defect' 'Mob/Radio problems when mobilised'
 'On outside duty when mobilised' 'Weather conditions'
 'At drills when mobilised']

In [70]:
df.DateAndTimeMobilised = pd.to_datetime(df.DateAndTimeMobilised, format='%d/%m/%Y %H:%M')
df.DateAndTimeMobile = pd.to_datetime(df.DateAndTimeMobile, format="%d/%m/%Y %H:%M")
df.DateAndTimeArrived = pd.to_datetime(df.DateAndTimeArrived, format="%d/%m/%Y %H:%M")
df.DateAndTimeLeft = pd.to_datetime(df.DateAndTimeLeft, format="%d/%m/%Y %H:%M")
df.DateAndTimeReturned = pd.to_datetime(df.DateAndTimeReturned, format="%d/%m/%Y %H:%M")

In [71]:
delta = lambda dates: (dates.max() - dates.min()).seconds

aggregated = (
    df.head(100)
    .groupby("IncidentNumber")
    .agg(
        DateAndTimeArrived_min=("DateAndTimeArrived", "min"),
        DateAndTimeArrived_max=("DateAndTimeArrived", "max"),
        DateAndTimeArrived_delta=("DateAndTimeArrived", delta),
    )
    .reset_index()
)


print(aggregated.columns)

display(aggregated[(aggregated["DateAndTimeArrived_delta"] > 0)])


# filtered_groups = aggregated[(aggregated["DateAndTimeArrived_delta"] > 0)].index

# # Appliquer le filtre au DataFrame original
# filtered_df = df[df["category"].isin(filtered_groups)]

# display(filtered_df)

Index(['IncidentNumber', 'DateAndTimeArrived_min', 'DateAndTimeArrived_max',
       'DateAndTimeArrived_delta'],
      dtype='object')

,IncidentNumber,DateAndTimeArrived_min,DateAndTimeArrived_max,DateAndTimeArrived_delta
2,5091,2009-01-01 00:09:00,2009-01-01 00:10:00,60
3,6091,2009-01-01 00:09:00,2009-01-01 00:10:00,60
5,9091,2009-01-01 00:19:00,2009-01-01 00:20:00,60
15,23091,2009-01-01 00:29:00,2009-01-01 00:33:00,240
18,38091,2009-01-01 00:40:00,2009-01-01 00:41:00,60
20,41091,2009-01-01 00:39:00,2009-01-01 00:40:00,60
22,44091,2009-01-01 00:47:00,2009-01-01 00:48:00,60
29,58091,2009-01-01 00:54:00,2009-01-01 00:57:00,180
38,70091,2009-01-01 01:23:00,2009-01-01 01:26:00,180
50,111091,2009-01-01 01:51:00,2009-01-01 01:52:00,60
51,114091,2009-01-01 01:54:00,2009-01-01 02:02:00,480
57,135091,2009-01-01 02:58:00,2009-01-01 03:03:00,300
62,143091,2009-01-01 03:13:00,2009-01-01 03:22:00,540
63,144091,2009-01-01 03:16:00,2009-01-01 03:17:00,60
67,149091,2009-01-01 03:44:00,2009-01-01 03:47:00,180
68,150091,2009-01-01 03:38:00,2009-01-01 03:40:00,120
71,235138081,2009-01-01 00:07:00,2009-01-01 00:08:00,60

In [72]:
df["PumpOnSiteSeconds"] = (df.DateAndTimeLeft - df.DateAndTimeArrived).dt.seconds
print(df.shape)

display(df.head(10))

aggregated = (
    df.groupby("IncidentNumber")  # .head(100)
    .agg(
        PumpSecondsOnSite_min=("PumpOnSiteSeconds", "min"),
        PumpSecondsOnSite_max=("PumpOnSiteSeconds", "max"),
        TurnoutTimeSeconds_min=("TurnoutTimeSeconds", "min"),
        TurnoutTimeSeconds_max=("TurnoutTimeSeconds", "max"),
        TravelTimeSeconds_min=("TravelTimeSeconds", "min"),
        TravelTimeSeconds_max=("TravelTimeSeconds", "max"),
    )
    .reset_index()
)
display(aggregated.head(10))

# jointure sur df des agr√©gats
merge = pd.merge(
    df, aggregated, left_on="IncidentNumber", right_on="IncidentNumber", how="left"
)

merge = merge.drop(["PumpOnSiteSeconds", "TurnoutTimeSeconds", "TravelTimeSeconds"], axis=1)

display(merge.head(10))
print(merge.shape)

(2480004, 23)

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,TravelTimeSeconds,AttendanceTimeSeconds,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description,PumpOnSiteSeconds
0,235138081,2009,0,38426,H271,1,2009-01-01 00:02:00,NaT,2009-01-01 00:07:00,NaN,NaN,319,2009-01-01 00:16:00,2009-01-01 00:23:00,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,540.0
1,235138081,2009,0,38427,H212,2,2009-01-01 00:02:00,2009-01-01 00:06:00,2009-01-01 00:08:00,253.0,89.0,342,2009-01-01 00:12:00,2009-01-01 00:12:00,H21,Clapham,Home Station,2,Initial,Initial Mobilisation,NaN,NaN,240.0
2,2091,2009,0,38429,A341,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:09:00,151.0,157.0,308,2009-01-01 00:16:00,2009-01-01 00:17:00,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,420.0
3,3091,2009,0,38430,G232,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:08:00,108.0,102.0,210,2009-01-01 00:20:00,2009-01-01 00:20:00,G23,Hillingdon,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,720.0
4,5091,2009,0,38432,A311,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,114.0,119.0,233,2009-01-01 00:11:00,2009-01-01 00:22:00,A31,Holloway,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,120.0
5,5091,2009,0,38431,A312,2,2009-01-01 00:06:00,2009-01-01 00:08:00,2009-01-01 00:10:00,142.0,108.0,250,NaT,2009-01-01 00:18:00,A31,Holloway,Home Station,2,Initial,Initial Mobilisation,NaN,NaN,NaN
6,6091,2009,0,38434,A432,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,83.0,89.0,172,2009-01-01 00:15:00,2009-01-01 00:23:00,A43,Kentish Town,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,360.0
7,6091,2009,0,38435,A431,2,2009-01-01 00:06:00,2009-01-01 00:08:00,2009-01-01 00:10:00,95.0,127.0,222,NaT,2009-01-01 00:22:00,A43,Kentish Town,Home Station,2,Initial,Initial Mobilisation,NaN,NaN,NaN
8,8091,2009,0,38436,E231,1,2009-01-01 00:13:00,2009-01-01 00:15:00,2009-01-01 00:22:00,119.0,403.0,522,2009-01-01 00:29:00,2009-01-01 00:29:00,E23,East Greenwich,Home Station,1,Initial,Initial Mobilisation,12.0,Not held up,420.0
9,9091,2009,0,38438,G381,1,2009-01-01 00:14:00,2009-01-01 00:17:00,2009-01-01 00:19:00,178.0,164.0,342,2009-01-01 00:43:00,2009-01-01 00:50:00,G38,Heston,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,1440.0

,IncidentNumber,PumpSecondsOnSite_min,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_max
0,1092,NaN,NaN,128.0,128.0,390.0,390.0
1,1111,120.0,120.0,71.0,71.0,480.0,480.0
2,1112,480.0,480.0,119.0,119.0,225.0,225.0
3,1121,240.0,360.0,65.0,67.0,192.0,235.0
4,1131,360.0,360.0,89.0,89.0,78.0,78.0
5,1133,180.0,180.0,1.0,1.0,267.0,267.0
6,1143,240.0,240.0,42.0,42.0,377.0,377.0
7,2091,420.0,420.0,151.0,151.0,157.0,157.0
8,2092,300.0,300.0,78.0,85.0,85.0,331.0
9,2099,1260.0,1260.0,143.0,189.0,339.0,366.0

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,AttendanceTimeSeconds,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description,PumpSecondsOnSite_min,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_max
0,235138081,2009,0,38426,H271,1,2009-01-01 00:02:00,NaT,2009-01-01 00:07:00,319,2009-01-01 00:16:00,2009-01-01 00:23:00,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,240.0,540.0,253.0,253.0,89.0,89.0
1,235138081,2009,0,38427,H212,2,2009-01-01 00:02:00,2009-01-01 00:06:00,2009-01-01 00:08:00,342,2009-01-01 00:12:00,2009-01-01 00:12:00,H21,Clapham,Home Station,2,Initial,Initial Mobilisation,NaN,NaN,240.0,540.0,253.0,253.0,89.0,89.0
2,2091,2009,0,38429,A341,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:09:00,308,2009-01-01 00:16:00,2009-01-01 00:17:00,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,420.0,420.0,151.0,151.0,157.0,157.0
3,3091,2009,0,38430,G232,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:08:00,210,2009-01-01 00:20:00,2009-01-01 00:20:00,G23,Hillingdon,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,720.0,720.0,108.0,108.0,102.0,102.0
4,5091,2009,0,38432,A311,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,233,2009-01-01 00:11:00,2009-01-01 00:22:00,A31,Holloway,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,120.0,120.0,114.0,142.0,108.0,119.0
5,5091,2009,0,38431,A312,2,2009-01-01 00:06:00,2009-01-01 00:08:00,2009-01-01 00:10:00,250,NaT,2009-01-01 00:18:00,A31,Holloway,Home Station,2,Initial,Initial Mobilisation,NaN,NaN,120.0,120.0,114.0,142.0,108.0,119.0
6,6091,2009,0,38434,A432,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,172,2009-01-01 00:15:00,2009-01-01 00:23:00,A43,Kentish Town,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,360.0,360.0,83.0,95.0,89.0,127.0
7,6091,2009,0,38435,A431,2,2009-01-01 00:06:00,2009-01-01 00:08:00,2009-01-01 00:10:00,222,NaT,2009-01-01 00:22:00,A43,Kentish Town,Home Station,2,Initial,Initial Mobilisation,NaN,NaN,360.0,360.0,83.0,95.0,89.0,127.0
8,8091,2009,0,38436,E231,1,2009-01-01 00:13:00,2009-01-01 00:15:00,2009-01-01 00:22:00,522,2009-01-01 00:29:00,2009-01-01 00:29:00,E23,East Greenwich,Home Station,1,Initial,Initial Mobilisation,12.0,Not held up,420.0,420.0,119.0,119.0,403.0,403.0
9,9091,2009,0,38438,G381,1,2009-01-01 00:14:00,2009-01-01 00:17:00,2009-01-01 00:19:00,342,2009-01-01 00:43:00,2009-01-01 00:50:00,G38,Heston,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,1440.0,1440.0,178.0,183.0,164.0,166.0

(2480004, 26)

In [73]:
merge.IncidentNumber.duplicated().sum()

np.int64(837962)

In [74]:
df_final = merge.drop_duplicates(subset=["IncidentNumber"], keep="first")
print(df_final.shape)
display(df_final.head(10))

(1642042, 26)

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,AttendanceTimeSeconds,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description,PumpSecondsOnSite_min,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_max
0,235138081,2009,0,38426,H271,1,2009-01-01 00:02:00,NaT,2009-01-01 00:07:00,319,2009-01-01 00:16:00,2009-01-01 00:23:00,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,240.0,540.0,253.0,253.0,89.0,89.0
2,2091,2009,0,38429,A341,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:09:00,308,2009-01-01 00:16:00,2009-01-01 00:17:00,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,420.0,420.0,151.0,151.0,157.0,157.0
3,3091,2009,0,38430,G232,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:08:00,210,2009-01-01 00:20:00,2009-01-01 00:20:00,G23,Hillingdon,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,720.0,720.0,108.0,108.0,102.0,102.0
4,5091,2009,0,38432,A311,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,233,2009-01-01 00:11:00,2009-01-01 00:22:00,A31,Holloway,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,120.0,120.0,114.0,142.0,108.0,119.0
6,6091,2009,0,38434,A432,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,172,2009-01-01 00:15:00,2009-01-01 00:23:00,A43,Kentish Town,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,360.0,360.0,83.0,95.0,89.0,127.0
8,8091,2009,0,38436,E231,1,2009-01-01 00:13:00,2009-01-01 00:15:00,2009-01-01 00:22:00,522,2009-01-01 00:29:00,2009-01-01 00:29:00,E23,East Greenwich,Home Station,1,Initial,Initial Mobilisation,12.0,Not held up,420.0,420.0,119.0,119.0,403.0,403.0
9,9091,2009,0,38438,G381,1,2009-01-01 00:14:00,2009-01-01 00:17:00,2009-01-01 00:19:00,342,2009-01-01 00:43:00,2009-01-01 00:50:00,G38,Heston,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,1440.0,1440.0,178.0,183.0,164.0,166.0
11,10091,2009,0,38439,A271,1,2009-01-01 00:15:00,2009-01-01 00:17:00,2009-01-01 00:19:00,255,2009-01-01 00:26:00,2009-01-01 00:29:00,A27,Clerkenwell,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,420.0,420.0,121.0,121.0,134.0,134.0
12,11091,2009,0,38440,A231,1,2009-01-01 00:15:00,2009-01-01 00:17:00,2009-01-01 00:20:00,297,2009-01-01 00:33:00,2009-01-01 00:37:00,A23,Euston,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,780.0,780.0,110.0,110.0,187.0,187.0
13,14091,2009,0,38444,E372,1,2009-01-01 00:18:00,NaT,2009-01-01 00:22:00,256,NaT,2009-01-01 00:22:00,E37,Peckham,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
df_final.to_csv("../data/Mobilisation.csv", sep=";")