In [1]:
import pandas as pd

#Incidents

# Ajuster les paramÃ¨tres pour afficher toutes les lignes et colonnes
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

df1 = pd.read_csv(
    "../data/LFB Incident data from 2009 - 2017.csv", sep=",", low_memory=False
)
df2 = pd.read_csv(
    "../data/LFB Incident data from 2018 onwards.csv", sep=",", low_memory=False
)

df_incidents = pd.concat([df1, df2], axis=0)
df_incidents.reset_index(drop=True)

print(df_incidents.shape)
display(df_incidents.head())

# suppression des .00
df_incidents["IncidentNumber"] = df_incidents["IncidentNumber"].apply(
    lambda x: str(x)[0:-3] if (".00" in x) & (str(x)[-3:] == ".00") else x
)
display(df_incidents.head())
display(df_incidents.info())
display(df_incidents.describe())

(1771413, 39)

,IncidentNumber,DateOfCall,CalYear,TimeOfCall,HourOfCall,IncidentGroup,StopCodeDescription,SpecialServiceType,PropertyCategory,PropertyType,AddressQualifier,Postcode_full,Postcode_district,UPRN,USRN,IncGeo_BoroughCode,IncGeo_BoroughName,ProperCase,IncGeo_WardCode,IncGeo_WardName,IncGeo_WardNameNew,Easting_m,Northing_m,Easting_rounded,Northing_rounded,Latitude,Longitude,FRS,IncidentStationGround,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (Â£),NumCalls
0,235138081.00,01-Jan-09,2009,00:00:37,0,Special Service,Special Service,RTC,Road Vehicle,Car,In street close to gazetteer location,SW11 4LB,SW11,NaN,NaN,E09000032,WANDSWORTH,Wandsworth,E05014010,Battersea Park,Battersea Park,528652.0,176830.0,528650,176850,51.475812,-0.148894,London,Battersea,319.0,Battersea,342.0,Clapham,2.0,2.0,2,60,255,1.0
1,1091.00,01-Jan-09,2009,00:00:46,0,Special Service,Special Service,Assist other agencies,Outdoor,Lake/pond/reservoir,Open land/water - nearest gazetteer location,SE1 7SG,SE1,NaN,NaN,E09000022,LAMBETH,Lambeth,E05014118,Waterloo & South Bank,Waterloo & South Bank,530485.0,179007.0,530450,179050,51.494957,-0.121712,London,Lambeth,NaN,NaN,NaN,NaN,NaN,NaN,1,60,255,1.0
2,2091.00,01-Jan-09,2009,00:03:00,0,Fire,Secondary Fire,NaN,Outdoor,Road surface/pavement,In street outside gazetteer location,N9 9EL,N9,NaN,NaN,E09000010,ENFIELD,Enfield,E05013682,Haselbury,Haselbury,533773.0,194492.0,533750,194450,51.633342,-0.068488,London,Edmonton,308.0,Edmonton,NaN,NaN,1.0,1.0,1,60,255,2.0
3,3091.00,01-Jan-09,2009,00:04:27,0,Fire,Secondary Fire,NaN,Outdoor,Domestic garden (vegetation not equipment),On land associated with building,UB10 0DG,UB10,1.000215e+11,21401491.0,E09000017,HILLINGDON,Hillingdon,E05013571,Hillingdon East,Hillingdon East,507738.0,182805.0,507750,182850,51.533882,-0.448089,London,Hillingdon,210.0,Hillingdon,NaN,NaN,1.0,1.0,1,60,255,2.0
4,5091.00,01-Jan-09,2009,00:05:39,0,Fire,Secondary Fire,NaN,Outdoor,Cycle path/public footpath/bridleway,In street outside gazetteer location,N7 8HG,N7,NaN,NaN,E09000019,ISLINGTON,Islington,E05013708,Laycock,Laycock,531058.0,185307.0,531050,185350,51.551441,-0.111120,London,Holloway,233.0,Holloway,250.0,Holloway,1.0,2.0,2,60,255,1.0

,IncidentNumber,DateOfCall,CalYear,TimeOfCall,HourOfCall,IncidentGroup,StopCodeDescription,SpecialServiceType,PropertyCategory,PropertyType,AddressQualifier,Postcode_full,Postcode_district,UPRN,USRN,IncGeo_BoroughCode,IncGeo_BoroughName,ProperCase,IncGeo_WardCode,IncGeo_WardName,IncGeo_WardNameNew,Easting_m,Northing_m,Easting_rounded,Northing_rounded,Latitude,Longitude,FRS,IncidentStationGround,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (Â£),NumCalls
0,235138081,01-Jan-09,2009,00:00:37,0,Special Service,Special Service,RTC,Road Vehicle,Car,In street close to gazetteer location,SW11 4LB,SW11,NaN,NaN,E09000032,WANDSWORTH,Wandsworth,E05014010,Battersea Park,Battersea Park,528652.0,176830.0,528650,176850,51.475812,-0.148894,London,Battersea,319.0,Battersea,342.0,Clapham,2.0,2.0,2,60,255,1.0
1,1091,01-Jan-09,2009,00:00:46,0,Special Service,Special Service,Assist other agencies,Outdoor,Lake/pond/reservoir,Open land/water - nearest gazetteer location,SE1 7SG,SE1,NaN,NaN,E09000022,LAMBETH,Lambeth,E05014118,Waterloo & South Bank,Waterloo & South Bank,530485.0,179007.0,530450,179050,51.494957,-0.121712,London,Lambeth,NaN,NaN,NaN,NaN,NaN,NaN,1,60,255,1.0
2,2091,01-Jan-09,2009,00:03:00,0,Fire,Secondary Fire,NaN,Outdoor,Road surface/pavement,In street outside gazetteer location,N9 9EL,N9,NaN,NaN,E09000010,ENFIELD,Enfield,E05013682,Haselbury,Haselbury,533773.0,194492.0,533750,194450,51.633342,-0.068488,London,Edmonton,308.0,Edmonton,NaN,NaN,1.0,1.0,1,60,255,2.0
3,3091,01-Jan-09,2009,00:04:27,0,Fire,Secondary Fire,NaN,Outdoor,Domestic garden (vegetation not equipment),On land associated with building,UB10 0DG,UB10,1.000215e+11,21401491.0,E09000017,HILLINGDON,Hillingdon,E05013571,Hillingdon East,Hillingdon East,507738.0,182805.0,507750,182850,51.533882,-0.448089,London,Hillingdon,210.0,Hillingdon,NaN,NaN,1.0,1.0,1,60,255,2.0
4,5091,01-Jan-09,2009,00:05:39,0,Fire,Secondary Fire,NaN,Outdoor,Cycle path/public footpath/bridleway,In street outside gazetteer location,N7 8HG,N7,NaN,NaN,E09000019,ISLINGTON,Islington,E05013708,Laycock,Laycock,531058.0,185307.0,531050,185350,51.551441,-0.111120,London,Holloway,233.0,Holloway,250.0,Holloway,1.0,2.0,2,60,255,1.0

<class 'pandas.core.frame.DataFrame'>
Index: 1771413 entries, 0 to 783133
Data columns (total 39 columns):
 #   Column                                  Dtype
---  ------                                  -----
 0   IncidentNumber                          object
 1   DateOfCall                              object
 2   CalYear                                 int64
 3   TimeOfCall                              object
 4   HourOfCall                              int64
 5   IncidentGroup                           object
 6   StopCodeDescription                     object
 7   SpecialServiceType                      object
 8   PropertyCategory                        object
 9   PropertyType                            object
 10  AddressQualifier                        object
 11  Postcode_full                           object
 12  Postcode_district                       object
 13  UPRN                                    float64
 14  USRN                                    float64
 15  IncGeo_BoroughCode                      object
 16  IncGeo_BoroughName                      object
 17  ProperCase                              object
 18  IncGeo_WardCode                         object
 19  IncGeo_WardName                         object
 20  IncGeo_WardNameNew                      object
 21  Easting_m                               float64
 22  Northing_m                              float64
 23  Easting_rounded                         int64
 24  Northing_rounded                        int64
 25  Latitude                                float64
 26  Longitude                               float64
 27  FRS                                     object
 28  IncidentStationGround                   object
 29  FirstPumpArriving_AttendanceTime        float64
 30  FirstPumpArriving_DeployedFromStation   object
 31  SecondPumpArriving_AttendanceTime       float64
 32  SecondPumpArriving_DeployedFromStation  object
 33  NumStationsWithPumpsAttending           float64
 34  NumPumpsAttending                       float64
 35  PumpCount                               int64
 36  PumpMinutesRounded                      int64
 37  Notional Cost (Â£)                       int64
 38  NumCalls                                float64
dtypes: float64(11), int64(7), object(21)
memory usage: 540.6+ MB

None

,CalYear,HourOfCall,UPRN,USRN,Easting_m,Northing_m,Easting_rounded,Northing_rounded,Latitude,Longitude,FirstPumpArriving_AttendanceTime,SecondPumpArriving_AttendanceTime,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (Â£),NumCalls
count,1.771413e+06,1.771413e+06,1.630080e+06,1.608542e+06,886544.000000,886544.000000,1.771413e+06,1.771413e+06,886544.000000,886544.000000,1.635724e+06,633568.00000,1.757310e+06,1.757310e+06,1.771413e+06,1.771413e+06,1.771413e+06,1.769564e+06
mean,2.016456e+03,1.346887e+01,2.192842e+10,2.031355e+07,530632.668589,180365.050822,5.306598e+05,1.804883e+05,51.445867,-0.118837,3.182711e+02,395.38522,1.369216e+00,1.554288e+00,1.591798e+00,7.629298e+01,4.039678e+02,1.329551e+00
std,4.776673e+00,6.252623e+00,4.753228e+10,4.378135e+06,10336.679483,7434.831140,9.725543e+03,7.357290e+03,1.775330,0.148994,1.386791e+02,153.33425,6.836639e-01,8.418938e-01,1.586884e+00,5.678902e+02,2.710555e+03,1.488664e+00
min,2.009000e+03,0.000000e+00,0.000000e+00,0.000000e+00,503582.000000,155901.000000,5.035500e+05,1.559500e+05,0.000000,-0.510155,1.000000e+00,1.00000,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01,2.550000e+02,1.000000e+00
25%,2.012000e+03,9.000000e+00,0.000000e+00,2.040096e+07,525185.000000,175989.000000,5.252500e+05,1.761500e+05,51.468944,-0.197424,2.310000e+02,295.00000,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01,2.600000e+02,1.000000e+00
50%,2.017000e+03,1.400000e+01,0.000000e+00,2.120127e+07,530797.000000,180982.000000,5.309500e+05,1.810500e+05,51.512881,-0.116981,2.960000e+02,369.00000,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01,3.280000e+02,1.000000e+00
75%,2.021000e+03,1.900000e+01,1.001319e+10,2.210116e+07,536834.000000,184939.000000,5.362500e+05,1.851500e+05,51.547757,-0.028701,3.780000e+02,464.00000,2.000000e+00,2.000000e+00,2.000000e+00,6.000000e+01,3.640000e+02,1.000000e+00
max,2.024000e+03,2.300000e+01,2.000044e+11,9.999042e+07,561126.000000,200906.000000,6.111500e+05,3.024500e+05,51.691670,0.322219,1.200000e+03,1200.00000,4.600000e+01,1.060000e+02,9.510000e+02,5.256290e+05,2.277726e+06,3.690000e+02

In [2]:
# Mobilisations

df1 = pd.read_csv(
    "../data/LFB Mobilisation data from January 2009 - 2014.csv",
    sep=";",
    low_memory=False,
)
df2 = pd.read_csv(
    "../data/LFB Mobilisation data from 2015 - 2020.csv", sep=";", low_memory=False
)
df3 = pd.read_csv(
    "../data/LFB Mobilisation data from 2021 - 2024.csv",
    sep=",",
    low_memory=False,
    usecols=lambda column: column not in ["BoroughName", "WardName"],
)

df_mobilisations = pd.concat([df1, df2, df3], axis=0)
df_mobilisations.reset_index(drop=True)

display(df_mobilisations.head())
display(df_mobilisations.info())
display(df_mobilisations.describe())

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,TravelTimeSeconds,AttendanceTimeSeconds,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description
0,235138081,2009,0,38426,H271,1,01/01/2009 00:02,NaN,01/01/2009 00:07,NaN,NaN,319,01/01/2009 00:16,01/01/2009 00:23,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
1,235138081,2009,0,38427,H212,2,01/01/2009 00:02,01/01/2009 00:06,01/01/2009 00:08,253.0,89.0,342,01/01/2009 00:12,01/01/2009 00:12,H21,Clapham,Home Station,2,Initial,Initial Mobilisation,NaN,NaN
2,2091,2009,0,38429,A341,1,01/01/2009 00:04,01/01/2009 00:06,01/01/2009 00:09,151.0,157.0,308,01/01/2009 00:16,01/01/2009 00:17,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
3,3091,2009,0,38430,G232,1,01/01/2009 00:04,01/01/2009 00:06,01/01/2009 00:08,108.0,102.0,210,01/01/2009 00:20,01/01/2009 00:20,G23,Hillingdon,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
4,5091,2009,0,38432,A311,1,01/01/2009 00:06,01/01/2009 00:07,01/01/2009 00:09,114.0,119.0,233,01/01/2009 00:11,01/01/2009 00:22,A31,Holloway,Home Station,1,Initial,Initial Mobilisation,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
Index: 2480004 entries, 0 to 694574
Data columns (total 22 columns):
 #   Column                    Dtype
---  ------                    -----
 0   IncidentNumber            object
 1   CalYear                   int64
 2   HourOfCall                int64
 3   ResourceMobilisationId    int64
 4   Resource_Code             object
 5   PerformanceReporting      object
 6   DateAndTimeMobilised      object
 7   DateAndTimeMobile         object
 8   DateAndTimeArrived        object
 9   TurnoutTimeSeconds        float64
 10  TravelTimeSeconds         float64
 11  AttendanceTimeSeconds     int64
 12  DateAndTimeLeft           object
 13  DateAndTimeReturned       object
 14  DeployedFromStation_Code  object
 15  DeployedFromStation_Name  object
 16  DeployedFromLocation      object
 17  PumpOrder                 int64
 18  PlusCode_Code             object
 19  PlusCode_Description      object
 20  DelayCodeId               float64
 21  DelayCode_Description     object
dtypes: float64(3), int64(5), object(14)
memory usage: 435.2+ MB

None

,CalYear,HourOfCall,ResourceMobilisationId,TurnoutTimeSeconds,TravelTimeSeconds,AttendanceTimeSeconds,PumpOrder,DelayCodeId
count,2.480004e+06,2.480004e+06,2.480004e+06,2.451489e+06,2.451395e+06,2.480004e+06,2.480004e+06,618068.000000
mean,2.016683e+03,1.346944e+01,4.844750e+06,7.945743e+01,2.748673e+02,3.526280e+02,1.458338e+00,10.492389
std,4.762131e+00,6.327579e+00,1.339961e+06,4.445476e+01,1.514902e+02,1.544398e+02,7.735493e-01,2.196355
min,2.009000e+03,0.000000e+00,3.842600e+04,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,3.000000
25%,2.012000e+03,9.000000e+00,4.012022e+06,5.400000e+01,1.730000e+02,2.510000e+02,1.000000e+00,9.000000
50%,2.017000e+03,1.400000e+01,4.925274e+06,7.300000e+01,2.480000e+02,3.270000e+02,1.000000e+00,12.000000
75%,2.021000e+03,1.900000e+01,5.872214e+06,9.600000e+01,3.440000e+02,4.230000e+02,2.000000e+00,12.000000
max,2.024000e+03,2.300000e+01,6.808854e+06,1.192000e+03,1.198000e+03,1.200000e+03,1.300000e+01,13.000000

In [4]:
# Conversion des dates

# DateOfCall 09-Aug-21
# TimeOfCall 00:04:25
# DateAndTimeMobilised 01/01/2018 00:04
# DateAndTimeMobile 01/01/2018 00:04
# DateAndTimeArrived 01/01/2018 00:04
# DateAndTimeLeft 01/01/2018 00:16
# DateAndTimeReturned 01/01/2018 00:16

# pd.to_datetime('2030-26-10', format='%Y-%d-%m')
# pd.to_datetime('2018-10-26 12:00:00', format='%Y-%m-%d %H:%M:%S')


df_incidents.DateOfCall = pd.to_datetime(df_incidents.DateOfCall, format="%d-%b-%y")
df_incidents.TimeOfCall = pd.to_datetime(df_incidents.TimeOfCall, format="%H:%M:%S")
df_mobilisations.DateAndTimeMobilised = pd.to_datetime(
    df_mobilisations.DateAndTimeMobilised, format="%d/%m/%Y %H:%M"
)
df_mobilisations.DateAndTimeMobile = pd.to_datetime(df_mobilisations.DateAndTimeMobile, format="%d/%m/%Y %H:%M")
df_mobilisations.DateAndTimeArrived = pd.to_datetime(
    df_mobilisations.DateAndTimeArrived, format="%d/%m/%Y %H:%M"
)
df_mobilisations.DateAndTimeLeft = pd.to_datetime(
    df_mobilisations.DateAndTimeLeft, format="%d/%m/%Y %H:%M"
)
df_mobilisations.DateAndTimeReturned = pd.to_datetime(
    df_mobilisations.DateAndTimeReturned, format="%d/%m/%Y %H:%M"
)

In [ ]:
# mise de mobilisations sur une ligne

# ajout d'une colonne PumpSecondsOnSite
df_mobilisations["PumpOnSiteSeconds"] = (df_mobilisations.DateAndTimeLeft - df_mobilisations.DateAndTimeArrived).dt.seconds
print(df_mobilisations.shape)

display(df_mobilisations.head(10))

# crÃ©ation des temps min/max par incidentNumber
aggregated = (
    df_mobilisations.groupby("IncidentNumber")  # .head(100)
    .agg(
        PumpSecondsOnSite_min=("PumpOnSiteSeconds", "min"),
        PumpSecondsOnSite_max=("PumpOnSiteSeconds", "max"),
        TurnoutTimeSeconds_min=("TurnoutTimeSeconds", "min"),
        TurnoutTimeSeconds_max=("TurnoutTimeSeconds", "max"),
        TravelTimeSeconds_min=("TravelTimeSeconds", "min"),
        TravelTimeSeconds_max=("TravelTimeSeconds", "max"),
    )
    .reset_index()
)
display(aggregated.head(10))

# jointure sur df_mobilisations pour avoir les min/max
merge = pd.merge(
    df_mobilisations, aggregated, left_on="IncidentNumber", right_on="IncidentNumber", how="left"
)
display(merge.head(10))
print("merge.shape", merge.shape)

print("merge.IncidentNumber.duplicated().sum()", merge.IncidentNumber.duplicated().sum())

# suppression des doublons pour garder la 1ere ligne
df_mobilisations = merge.drop_duplicates(subset=["IncidentNumber"], keep="first")
print("df_mobilisations.shape", df_mobilisations.shape)
display(df_mobilisations.head(10))

(2480004, 23)

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,TravelTimeSeconds,AttendanceTimeSeconds,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description,PumpOnSiteSeconds
0,235138081,2009,0,38426,H271,1,2009-01-01 00:02:00,NaT,2009-01-01 00:07:00,NaN,NaN,319,2009-01-01 00:16:00,2009-01-01 00:23:00,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,540.0
1,235138081,2009,0,38427,H212,2,2009-01-01 00:02:00,2009-01-01 00:06:00,2009-01-01 00:08:00,253.0,89.0,342,2009-01-01 00:12:00,2009-01-01 00:12:00,H21,Clapham,Home Station,2,Initial,Initial Mobilisation,NaN,NaN,240.0
2,2091,2009,0,38429,A341,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:09:00,151.0,157.0,308,2009-01-01 00:16:00,2009-01-01 00:17:00,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,420.0
3,3091,2009,0,38430,G232,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:08:00,108.0,102.0,210,2009-01-01 00:20:00,2009-01-01 00:20:00,G23,Hillingdon,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,720.0
4,5091,2009,0,38432,A311,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,114.0,119.0,233,2009-01-01 00:11:00,2009-01-01 00:22:00,A31,Holloway,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,120.0
5,5091,2009,0,38431,A312,2,2009-01-01 00:06:00,2009-01-01 00:08:00,2009-01-01 00:10:00,142.0,108.0,250,NaT,2009-01-01 00:18:00,A31,Holloway,Home Station,2,Initial,Initial Mobilisation,NaN,NaN,NaN
6,6091,2009,0,38434,A432,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,83.0,89.0,172,2009-01-01 00:15:00,2009-01-01 00:23:00,A43,Kentish Town,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,360.0
7,6091,2009,0,38435,A431,2,2009-01-01 00:06:00,2009-01-01 00:08:00,2009-01-01 00:10:00,95.0,127.0,222,NaT,2009-01-01 00:22:00,A43,Kentish Town,Home Station,2,Initial,Initial Mobilisation,NaN,NaN,NaN
8,8091,2009,0,38436,E231,1,2009-01-01 00:13:00,2009-01-01 00:15:00,2009-01-01 00:22:00,119.0,403.0,522,2009-01-01 00:29:00,2009-01-01 00:29:00,E23,East Greenwich,Home Station,1,Initial,Initial Mobilisation,12.0,Not held up,420.0
9,9091,2009,0,38438,G381,1,2009-01-01 00:14:00,2009-01-01 00:17:00,2009-01-01 00:19:00,178.0,164.0,342,2009-01-01 00:43:00,2009-01-01 00:50:00,G38,Heston,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,1440.0

,IncidentNumber,PumpSecondsOnSite_min,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_max
0,1092,NaN,NaN,128.0,128.0,390.0,390.0
1,1111,120.0,120.0,71.0,71.0,480.0,480.0
2,1112,480.0,480.0,119.0,119.0,225.0,225.0
3,1121,240.0,360.0,65.0,67.0,192.0,235.0
4,1131,360.0,360.0,89.0,89.0,78.0,78.0
5,1133,180.0,180.0,1.0,1.0,267.0,267.0
6,1143,240.0,240.0,42.0,42.0,377.0,377.0
7,2091,420.0,420.0,151.0,151.0,157.0,157.0
8,2092,300.0,300.0,78.0,85.0,85.0,331.0
9,2099,1260.0,1260.0,143.0,189.0,339.0,366.0

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,TravelTimeSeconds,AttendanceTimeSeconds,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description,PumpOnSiteSeconds,PumpSecondsOnSite_min,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_max
0,235138081,2009,0,38426,H271,1,2009-01-01 00:02:00,NaT,2009-01-01 00:07:00,NaN,NaN,319,2009-01-01 00:16:00,2009-01-01 00:23:00,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,540.0,240.0,540.0,253.0,253.0,89.0,89.0
1,235138081,2009,0,38427,H212,2,2009-01-01 00:02:00,2009-01-01 00:06:00,2009-01-01 00:08:00,253.0,89.0,342,2009-01-01 00:12:00,2009-01-01 00:12:00,H21,Clapham,Home Station,2,Initial,Initial Mobilisation,NaN,NaN,240.0,240.0,540.0,253.0,253.0,89.0,89.0
2,2091,2009,0,38429,A341,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:09:00,151.0,157.0,308,2009-01-01 00:16:00,2009-01-01 00:17:00,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,420.0,420.0,420.0,151.0,151.0,157.0,157.0
3,3091,2009,0,38430,G232,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:08:00,108.0,102.0,210,2009-01-01 00:20:00,2009-01-01 00:20:00,G23,Hillingdon,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,720.0,720.0,720.0,108.0,108.0,102.0,102.0
4,5091,2009,0,38432,A311,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,114.0,119.0,233,2009-01-01 00:11:00,2009-01-01 00:22:00,A31,Holloway,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,120.0,120.0,120.0,114.0,142.0,108.0,119.0
5,5091,2009,0,38431,A312,2,2009-01-01 00:06:00,2009-01-01 00:08:00,2009-01-01 00:10:00,142.0,108.0,250,NaT,2009-01-01 00:18:00,A31,Holloway,Home Station,2,Initial,Initial Mobilisation,NaN,NaN,NaN,120.0,120.0,114.0,142.0,108.0,119.0
6,6091,2009,0,38434,A432,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,83.0,89.0,172,2009-01-01 00:15:00,2009-01-01 00:23:00,A43,Kentish Town,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,360.0,360.0,360.0,83.0,95.0,89.0,127.0
7,6091,2009,0,38435,A431,2,2009-01-01 00:06:00,2009-01-01 00:08:00,2009-01-01 00:10:00,95.0,127.0,222,NaT,2009-01-01 00:22:00,A43,Kentish Town,Home Station,2,Initial,Initial Mobilisation,NaN,NaN,NaN,360.0,360.0,83.0,95.0,89.0,127.0
8,8091,2009,0,38436,E231,1,2009-01-01 00:13:00,2009-01-01 00:15:00,2009-01-01 00:22:00,119.0,403.0,522,2009-01-01 00:29:00,2009-01-01 00:29:00,E23,East Greenwich,Home Station,1,Initial,Initial Mobilisation,12.0,Not held up,420.0,420.0,420.0,119.0,119.0,403.0,403.0
9,9091,2009,0,38438,G381,1,2009-01-01 00:14:00,2009-01-01 00:17:00,2009-01-01 00:19:00,178.0,164.0,342,2009-01-01 00:43:00,2009-01-01 00:50:00,G38,Heston,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,1440.0,1440.0,1440.0,178.0,183.0,164.0,166.0

(2480004, 29)
837962
(1642042, 29)

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,TravelTimeSeconds,AttendanceTimeSeconds,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description,PumpOnSiteSeconds,PumpSecondsOnSite_min,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_max
0,235138081,2009,0,38426,H271,1,2009-01-01 00:02:00,NaT,2009-01-01 00:07:00,NaN,NaN,319,2009-01-01 00:16:00,2009-01-01 00:23:00,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,540.0,240.0,540.0,253.0,253.0,89.0,89.0
2,2091,2009,0,38429,A341,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:09:00,151.0,157.0,308,2009-01-01 00:16:00,2009-01-01 00:17:00,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,420.0,420.0,420.0,151.0,151.0,157.0,157.0
3,3091,2009,0,38430,G232,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:08:00,108.0,102.0,210,2009-01-01 00:20:00,2009-01-01 00:20:00,G23,Hillingdon,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,720.0,720.0,720.0,108.0,108.0,102.0,102.0
4,5091,2009,0,38432,A311,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,114.0,119.0,233,2009-01-01 00:11:00,2009-01-01 00:22:00,A31,Holloway,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,120.0,120.0,120.0,114.0,142.0,108.0,119.0
6,6091,2009,0,38434,A432,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,83.0,89.0,172,2009-01-01 00:15:00,2009-01-01 00:23:00,A43,Kentish Town,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,360.0,360.0,360.0,83.0,95.0,89.0,127.0
8,8091,2009,0,38436,E231,1,2009-01-01 00:13:00,2009-01-01 00:15:00,2009-01-01 00:22:00,119.0,403.0,522,2009-01-01 00:29:00,2009-01-01 00:29:00,E23,East Greenwich,Home Station,1,Initial,Initial Mobilisation,12.0,Not held up,420.0,420.0,420.0,119.0,119.0,403.0,403.0
9,9091,2009,0,38438,G381,1,2009-01-01 00:14:00,2009-01-01 00:17:00,2009-01-01 00:19:00,178.0,164.0,342,2009-01-01 00:43:00,2009-01-01 00:50:00,G38,Heston,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,1440.0,1440.0,1440.0,178.0,183.0,164.0,166.0
11,10091,2009,0,38439,A271,1,2009-01-01 00:15:00,2009-01-01 00:17:00,2009-01-01 00:19:00,121.0,134.0,255,2009-01-01 00:26:00,2009-01-01 00:29:00,A27,Clerkenwell,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,420.0,420.0,420.0,121.0,121.0,134.0,134.0
12,11091,2009,0,38440,A231,1,2009-01-01 00:15:00,2009-01-01 00:17:00,2009-01-01 00:20:00,110.0,187.0,297,2009-01-01 00:33:00,2009-01-01 00:37:00,A23,Euston,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,780.0,780.0,780.0,110.0,110.0,187.0,187.0
13,14091,2009,0,38444,E372,1,2009-01-01 00:18:00,NaT,2009-01-01 00:22:00,NaN,NaN,256,NaT,2009-01-01 00:22:00,E37,Peckham,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
print(df_incidents.shape)
print(df_mobilisations.shape)

# Merge
df = pd.merge(

    df_incidents,
    df_mobilisations,
    left_on="IncidentNumber",
    right_on="IncidentNumber",
    how="left",
)


print(df.shape)
display(df.head())
display(df.info())
display(df.describe())

(1771413, 39)
(2480004, 22)
(2320363, 60)

,IncidentNumber,DateOfCall,CalYear_x,TimeOfCall,HourOfCall_x,IncidentGroup,StopCodeDescription,SpecialServiceType,PropertyCategory,PropertyType,AddressQualifier,Postcode_full,Postcode_district,UPRN,USRN,IncGeo_BoroughCode,IncGeo_BoroughName,ProperCase,IncGeo_WardCode,IncGeo_WardName,IncGeo_WardNameNew,Easting_m,Northing_m,Easting_rounded,Northing_rounded,Latitude,Longitude,FRS,IncidentStationGround,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (Â£),NumCalls,CalYear_y,HourOfCall_y,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,TravelTimeSeconds,AttendanceTimeSeconds,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description
0,235138081,01-Jan-09,2009,00:00:37,0,Special Service,Special Service,RTC,Road Vehicle,Car,In street close to gazetteer location,SW11 4LB,SW11,NaN,NaN,E09000032,WANDSWORTH,Wandsworth,E05014010,Battersea Park,Battersea Park,528652.0,176830.0,528650,176850,51.475812,-0.148894,London,Battersea,319.0,Battersea,342.0,Clapham,2.0,2.0,2,60,255,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1091,01-Jan-09,2009,00:00:46,0,Special Service,Special Service,Assist other agencies,Outdoor,Lake/pond/reservoir,Open land/water - nearest gazetteer location,SE1 7SG,SE1,NaN,NaN,E09000022,LAMBETH,Lambeth,E05014118,Waterloo & South Bank,Waterloo & South Bank,530485.0,179007.0,530450,179050,51.494957,-0.121712,London,Lambeth,NaN,NaN,NaN,NaN,NaN,NaN,1,60,255,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2091,01-Jan-09,2009,00:03:00,0,Fire,Secondary Fire,NaN,Outdoor,Road surface/pavement,In street outside gazetteer location,N9 9EL,N9,NaN,NaN,E09000010,ENFIELD,Enfield,E05013682,Haselbury,Haselbury,533773.0,194492.0,533750,194450,51.633342,-0.068488,London,Edmonton,308.0,Edmonton,NaN,NaN,1.0,1.0,1,60,255,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3091,01-Jan-09,2009,00:04:27,0,Fire,Secondary Fire,NaN,Outdoor,Domestic garden (vegetation not equipment),On land associated with building,UB10 0DG,UB10,1.000215e+11,21401491.0,E09000017,HILLINGDON,Hillingdon,E05013571,Hillingdon East,Hillingdon East,507738.0,182805.0,507750,182850,51.533882,-0.448089,London,Hillingdon,210.0,Hillingdon,NaN,NaN,1.0,1.0,1,60,255,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5091,01-Jan-09,2009,00:05:39,0,Fire,Secondary Fire,NaN,Outdoor,Cycle path/public footpath/bridleway,In street outside gazetteer location,N7 8HG,N7,NaN,NaN,E09000019,ISLINGTON,Islington,E05013708,Laycock,Laycock,531058.0,185307.0,531050,185350,51.551441,-0.111120,London,Holloway,233.0,Holloway,250.0,Holloway,1.0,2.0,2,60,255,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2320363 entries, 0 to 2320362
Data columns (total 60 columns):
 #   Column                                  Dtype
---  ------                                  -----
 0   IncidentNumber                          object
 1   DateOfCall                              object
 2   CalYear_x                               int64
 3   TimeOfCall                              object
 4   HourOfCall_x                            int64
 5   IncidentGroup                           object
 6   StopCodeDescription                     object
 7   SpecialServiceType                      object
 8   PropertyCategory                        object
 9   PropertyType                            object
 10  AddressQualifier                        object
 11  Postcode_full                           object
 12  Postcode_district                       object
 13  UPRN                                    float64
 14  USRN                                    float64
 15  IncGeo_BoroughCode                      object
 16  IncGeo_BoroughName                      object
 17  ProperCase                              object
 18  IncGeo_WardCode                         object
 19  IncGeo_WardName                         object
 20  IncGeo_WardNameNew                      object
 21  Easting_m                               float64
 22  Northing_m                              float64
 23  Easting_rounded                         int64
 24  Northing_rounded                        int64
 25  Latitude                                float64
 26  Longitude                               float64
 27  FRS                                     object
 28  IncidentStationGround                   object
 29  FirstPumpArriving_AttendanceTime        float64
 30  FirstPumpArriving_DeployedFromStation   object
 31  SecondPumpArriving_AttendanceTime       float64
 32  SecondPumpArriving_DeployedFromStation  object
 33  NumStationsWithPumpsAttending           float64
 34  NumPumpsAttending                       float64
 35  PumpCount                               int64
 36  PumpMinutesRounded                      int64
 37  Notional Cost (Â£)                       int64
 38  NumCalls                                float64
 39  CalYear_y                               float64
 40  HourOfCall_y                            float64
 41  ResourceMobilisationId                  float64
 42  Resource_Code                           object
 43  PerformanceReporting                    object
 44  DateAndTimeMobilised                    object
 45  DateAndTimeMobile                       object
 46  DateAndTimeArrived                      object
 47  TurnoutTimeSeconds                      float64
 48  TravelTimeSeconds                       float64
 49  AttendanceTimeSeconds                   float64
 50  DateAndTimeLeft                         object
 51  DateAndTimeReturned                     object
 52  DeployedFromStation_Code                object
 53  DeployedFromStation_Name                object
 54  DeployedFromLocation                    object
 55  PumpOrder                               float64
 56  PlusCode_Code                           object
 57  PlusCode_Description                    object
 58  DelayCodeId                             float64
 59  DelayCode_Description                   object
dtypes: float64(19), int64(7), object(34)
memory usage: 1.0+ GB

None

,CalYear_x,HourOfCall_x,UPRN,USRN,Easting_m,Northing_m,Easting_rounded,Northing_rounded,Latitude,Longitude,FirstPumpArriving_AttendanceTime,SecondPumpArriving_AttendanceTime,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (Â£),NumCalls,CalYear_y,HourOfCall_y,ResourceMobilisationId,TurnoutTimeSeconds,TravelTimeSeconds,AttendanceTimeSeconds,PumpOrder,DelayCodeId
count,2.320363e+06,2.320363e+06,2.176688e+06,2.149832e+06,1.050255e+06,1.050255e+06,2.320363e+06,2.320363e+06,1.050255e+06,1.050255e+06,2.184674e+06,1.181140e+06,2.306260e+06,2.306260e+06,2.320363e+06,2.320363e+06,2.320363e+06,2.318436e+06,1.572516e+06,1.572516e+06,1.572516e+06,1.562220e+06,1.562130e+06,1.572516e+06,1.572516e+06,385234.000000
mean,2.017256e+03,1.347755e+01,1.981676e+10,2.032234e+07,5.306035e+05,1.803621e+05,5.306161e+05,1.804721e+05,5.143366e+01,-1.192032e-01,3.129118e+02,3.920796e+02,1.622910e+00,1.882008e+00,1.947497e+00,8.636191e+01,4.736029e+02,1.377170e+00,2.019748e+03,1.341836e+01,5.615370e+06,7.460261e+01,2.802254e+02,3.534578e+02,1.502783e+00,10.480757
std,4.621413e+00,6.300379e+00,4.561515e+10,4.479956e+06,1.031185e+04,7.388707e+03,9.605656e+03,7.285935e+03,1.943694e+00,1.486094e-01,1.322972e+02,1.482143e+02,9.540776e-01,1.123635e+00,2.035709e+00,6.077995e+02,3.154513e+03,1.926897e+00,2.853388e+00,6.351885e+00,6.883647e+05,4.058981e+01,1.484831e+02,1.514727e+02,8.509334e-01,2.148604
min,2.009000e+03,0.000000e+00,0.000000e+00,0.000000e+00,5.035820e+05,1.559010e+05,5.035500e+05,1.559500e+05,0.000000e+00,-5.101547e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01,2.550000e+02,1.000000e+00,2.015000e+03,0.000000e+00,4.436380e+06,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,3.000000
25%,2.013000e+03,9.000000e+00,0.000000e+00,2.040096e+07,5.251790e+05,1.759940e+05,5.252500e+05,1.762500e+05,5.146902e+01,-1.973420e-01,2.290000e+02,2.960000e+02,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01,2.950000e+02,1.000000e+00,2.017000e+03,9.000000e+00,5.010352e+06,5.200000e+01,1.810000e+02,2.540000e+02,1.000000e+00,9.000000
50%,2.018000e+03,1.400000e+01,0.000000e+00,2.120124e+07,5.308010e+05,1.809740e+05,5.308500e+05,1.810500e+05,5.151279e+01,-1.167950e-01,2.930000e+02,3.670000e+02,1.000000e+00,2.000000e+00,2.000000e+00,6.000000e+01,3.390000e+02,1.000000e+00,2.020000e+03,1.400000e+01,5.632060e+06,7.000000e+01,2.560000e+02,3.300000e+02,1.000000e+00,12.000000
75%,2.021000e+03,1.900000e+01,1.000830e+10,2.210143e+07,5.367800e+05,1.849270e+05,5.361500e+05,1.850500e+05,5.154768e+01,-2.930431e-02,3.710000e+02,4.580000e+02,2.000000e+00,2.000000e+00,2.000000e+00,6.000000e+01,3.880000e+02,1.000000e+00,2.022000e+03,1.900000e+01,6.211484e+06,9.000000e+01,3.500000e+02,4.250000e+02,2.000000e+00,12.000000
max,2.024000e+03,2.300000e+01,2.000044e+11,9.999042e+07,5.611260e+05,2.009060e+05,6.111500e+05,3.024500e+05,5.169167e+01,3.222187e-01,1.200000e+03,1.200000e+03,4.600000e+01,1.060000e+02,9.510000e+02,5.256290e+05,2.277726e+06,3.690000e+02,2.024000e+03,2.300000e+01,6.808854e+06,1.192000e+03,1.195000e+03,1.200000e+03,1.300000e+01,13.000000

In [ ]:
# df.to_csv("../data/Merge.csv", sep=';')
df["Minutes"]

In [ ]:

heatmap
quartile

ecart type
tab croisÃ© 
rÃ©partition des classes et temps
Evolution annuel des temps 

temps sur site Ã  calculer et par an 

grouper par IncidentGroup et StopCodeDescription

SyntaxError: invalid syntax (2582797499.py, line 1)